body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	background-color: #f4f4f4; }

/* HOMEPAGE STYLE START				--------------------------------------------------- */
.homepage {
	height: calc(100vh - 38px); /* Background зурагны дэлгэц дүүрэн өндөр, уг өндрөөс меню баарны дээд ирмэг дэлгэцний доод ирмэгээс зүүгдэх зай */
	background: url('https://the2m16.github.io/web/images/background3872x2592.webp') no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white; }
.homepage-container {
	background-color: rgba(0, 0, 0, 0.6);	/* Нүүрний текстийн арын хар фонын хагас тунгалаг тохиргоо */
	width: 100%;							/* Нүүрний текстийн арын хар фонын дэлгэцийн өргөнийг дүүргэх */
	padding: 45px 0;						/* Нүүрний текстийн арын хар фонын текстээс дээш, доош авах зай */
	backdrop-filter: blur(0px);				/* Нүүрний текстийн арын хар фонын blur */

/* ТЕКСТНИЙ ТОХИРГОО */
	text-align: center;						/* Мөр бүрийг голлуулна */
	display: flex;							/* Flexbox идэвхжүүлэх */
	flex-direction: column;					/* Гарчиг, текст 2-ыг дээр дээрээс нь байрлуулах */
	justify-content: center;				/* Босоо чиглэлд голлуулах */
	align-items: center; }
.homepage-container p {
	margin-left: 50px;
	margin-right: 50px; }
.homepage {
	--base-font-size: clamp(2.5rem, 8vw, 8rem); }
.homepage h1 {
	font-family: Arial, Helvetica, sans-serif;	/* Нүүрний (h1) фонтын хэмжээг тохируулна */
	font-weight: 100;							/* Нүүрний (h1) фонтын хэмжээг хамгийн нарийн (Thin) болгоно */
	letter-spacing: -.01em;						/* Нүүрний (h1) фонтын үсэг хоорондын зайг бага зэрэг шахаж өгнө */
	font-size: var(--base-font-size);			/* Нүүрний (h1) фонтын хэмжээндээ дээр зарласан хувьсагчаа 1:1 хэмжээгээр шууд ашиглана */
	line-height: 1.1;							/* Нүүрний (h1) фонтын мөр хоорондын зайг фонтны өндрөөс 1.1 дахин их болгоно */
	margin: 0;									/* Нүүрний (h1) гарчигны гадна талын зайг устгана */
	text-align: center;							/* Нүүрний (h1) текстийг голлуулна */
	color: #4da6ff; }							/* Нүүрний (h1) текстийн өнгө */
.homepage p {
	font-weight: 100;							/* (p) буюу 2-р мөрний үсгийг бас нарийн болгоно */
	font-size: clamp(0.7rem, calc(var(--base-font-size) * 0.15), 1.8rem);	/* clamp(МИН, ХАМААРАЛ, МАКС) 1.0rem (Мин хязгаар), calc(...) - H1-ийн 15%-тай тэнцүү дагаж томрох, 1.8rem (Макс хязгаар) */
	line-height: 1.2;							/* (p) буюу 2-р мөр хоорондын зай фонтны өндрөөс 1.1 дахин их болгоно */
	margin-top: 0.6em; }						/* (p) буюу 2-р мөрний тухайн фонт хэмжээтэй ижил зай дээрээ авна. Фонт томроход зай нь дагаж томорно */
/* HOMEPAGE STYLE END				--------------------------------------------------- */

/* NAVBAR МЕНЮ БААРНЫ ЕРӨНХИЙ СТАЙЛ	--------------------------------------------------- */
.navbar { 
	background-color: rgba(77, 77, 77, 1);		/* МЕНЮ БААРНЫ ӨНГӨ */
	backdrop-filter: blur(2px);					/* Баарны ард контентыг бүрсгэж харагдуулна */
	position: relative;							/* Суурь байршил */
	min-height: 38px;							/* Баарны доод өндөр */
	width: 100%;								/* Дэлгэцийн өргөнөөр үргэлж сунах */
	display: flex;								/* Блок хэлбэрээр байрлах */
	position: sticky;							/* Хуудсыг доош гүйлгэхэд навигешн барыг дээд талд наалттай үлдээх */
	top: 0;										/* Хуудсыг доош гүйлгэхэд навигешн барыг дээд ирмэгээс 0 зайд байрлахыг заах */
	left: 0;									/* Хуудсыг доош гүйлгэхэд навигешн барыг зүүн ирмэгээс 0 зайд байрлахыг заах */
	right: 0;									/* Хуудсыг доош гүйлгэхэд навигешн барыг баруун ирмэгээс 0 зайд байрлахыг заах */
	z-index: 3000; }							/* Навигешний лэиерийг контентуудын дээр харагдуулах */
.navbar a {
	background-color: transparent;	/* МЕНЮ ДӨРВӨЛЖИН ТОВЧНЫ АРЫН ӨНГӨНИЙ ТУНГАЛАГ */
	opacity: 1;						/* МЕНЮ ТЕКСТИЙН 0.5 - 50%, 0.1 - 10% гм-ээр тунгалаг болгох */
	color: white;					/* МЕНЮ ДӨРВӨЛЖИН ТОВЧНЫ АРЫН ӨНГӨ */
	text-transform: uppercase;		/* МЕНЮ ДӨРВӨЛЖИН ТОВЧНЫ ТЕКСТ */
	padding: 14px 16px; 
	text-decoration: none; 
	font-size: 13px; 
	display: flex;					/* Блок биш flex болгох */
	align-items: center;			/* Босоо тэнхлэгийн дагуу голлуулах */
	height: 38px;					/* Баарны өндөртэй ижил байлгах */
	box-sizing: border-box; }		/* Padding-г хэмжээнд багтаах */
.navbar a.icon {
	color: white;					/* Hamburger-ийн 3 зураасны өнгө */
	position: absolute; 
	right: 0; 
	top: 0; 
	height: 38px;					/* гамбургерийн дөрвөлжингийн өндөр */
	display: flex;
	align-items: center; 
	padding: 0 16px; }

.navbar #myLinks {					/* SMALL DISPLAY STYLE */
	display: none;					/* Анхны байдлаар нуух */
	position: absolute;				/* Navbar-аас хамааралгүй чөлөөтэй байрлуулах */
	top: 38px;						/* Navbar-ын өндөртэй ижил хэмжээгээр гамбургерийн эхний мөрийг буулгах */
	right: 0;						/* Гамбургер менюний байршил left: 0 or right: 0 */
	width: 220px;					/* Гамбургер менюний өргөн */
	background-color: rgba(77, 77, 77, 0.7);	/* ГАМБЕРГЕР МЕНЮНИЙ ӨНГӨ */
	backdrop-filter: blur(2px);		/* гамбургерийн ард контентыг бүрсгэж харагдуулна */
	z-index: 3000; }				/* Контентын дээр харагдуулах */
.navbar a:hover {
	background-color: #555; 
	color: white; }

@media screen and (min-width: 1000px) {			/* BIG SCREEN STYLE */
.navbar {
	display: flex;					/* Уян хатан бүтэц ашиглах */
	height: 38px;					/* Өндрийг тогтмол болгох */
	justify-content: center; }
.navbar #myLinks {
	display: flex !important;		/* Линкүүдийг хөндлөн харуулах */
	position: static;				/* Absolute байршлыг цуцлах */
	width: auto;					/* Зөвхөн агуулгаараа өргөсөх */
	opacity: 1; }
.navbar a {
	float: left;					/* Нэг мөрөнд зэрэгцүүлэх */
	height: 38px; }
.navbar a.icon {
	display: none; }				/* Гамбургер дүрсийг нуух */
	}

/* ҮНДСЭН КОНТЕЙНЕР СТАЙЛ			--------------------------------------------------- */
.container {
	max-width: 1000px;
	margin-top: 20px;
	margin-bottom: 0px;				/* контейнерийн ирмэгээс гадагш авах зай */
	margin-left: auto;
	margin-right: auto;
	background: white;
	padding: 0px;					/* контейнерийн ирмэгээс дотогш контентийн авах зай ХХХ */
	box-sizing: border-box;			/* Padding-ийг өргөн дотор нь багтаана */
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 4px; }

/* КОНТЕНТ ТЕКСТ ФОРМАТ СТАЙЛ		--------------------------------------------------- */
.content { 
	color: #555;
	margin-top: 0px;				/* параграфийн дээр авах зай */
	margin-bottom: 5px;				/* параграфийн доор авах зай */
	font-size: 0.9em;
	text-align: justify;
	padding: 0px;
	line-height: 1.5;				/* line-height-ийг px-ээр бас өгч болж бна. Default нь line-height: 1.2 */
	clear: both; }					/* Меню-тэй давхцахаас сэргийлэх */
h4 {
	margin-bottom: 0px;				/* Soundcloud box */
	margin-top: 0px;
	color: #555;
	font-size: 0.95em;
	line-height: 1.2; }				/* line-height-ийг px-ээр бас өгч болж бна. Default нь line-height: 1.2 */

/* HOMEPAGE BLOCK 2 START			--------------------------------------------------- */
.main-wrapper {
	max-width: 1000px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: 1.5fr 1fr;	/* Зүүн тал том, баруун тал жижиг */
	gap: 30px;						/* зүүн баруун багана хоорондын зай */
	padding: 20px; }				/* текст, зураг, аудио байрласан бүтэн боксын дээр авах зай */
.content-area img {
	max-width: 100%;
	height: auto;
	margin-top: 0px; }
.justify-text {
	margin-top: 0px;
	text-align: justify;
	line-height: 1.2; }

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 20px; }
.twitter-container {
	position: fixed;				/* Дэлгэцийн нэг цэгт хадаж өгнө */
	bottom: 20px;					/* Доороос авах зай */
	right: 20px;					/* Баруун талаас авах зай */
	z-index: 999;					/* Хамгийн дээд талд харагдуулах */
	max-width: 300px; }				/* Өргөнийг хязгаарлах */

@media (max-width: 1000px) {
	.main-wrapper {
		grid-template-columns: 1fr;
		}
	}
footer { flex-shrink: 0; text-align: center; padding: 0px; font-size: 13px; background: transparent; color: #555; width: 100%; box-sizing: border-box; }
